{% if paginator.total_pages > 1 %}
  <nav aria-label="Blog page navigation">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
        {% if paginator.previous_page %}
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" rel="prev" aria-label="上一页">&lt;</a>
        {% else %}
          <span class="page-link" aria-hidden="true">&lt;</span>
        {% endif %}
      </li>
      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li class="page-item {% if page.url == trail.path %}active{% endif %}">
            <a
              class="page-link"
              href="{{ trail.path | relative_url | remove: 'index.html' }}"
              title="{{ trail.title }}"
              {% if page.url == trail.path %}aria-current="page"{% endif %}
            >{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}
      <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
        {% if paginator.next_page %}
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" rel="next" aria-label="下一页">&gt;</a>
        {% else %}
          <span class="page-link" aria-hidden="true">&gt;</span>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}
